@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    background-color: black;
}

.main{
    height: 80vh;
    background-image: url("asserts/image/background1.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
}

/* ei part ta hoile kalo box jeida netflix er main photo da re dhaikka de*/ 
.main .box{
    height: 80vh;
    width: 100% ;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    padding: 15px;
    max-width: 150vh;
    margin: auto;
    justify-content: space-between;
}

nav img{
    color: red;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}


.texts{
    font-family: "Roboto Condensed", sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
}

.texts> :first-child{
    font-weight: 750;
    font-size: 8vh;
}

.texts> :nth-child(2){
    font-weight: 750;
    font-size: 8vh;
}

.texts :nth-child(3){
    font-weight: 500;
    margin: 2vh;
}

.texts span{
    text-align: center;
}

.mail {
    justify-content: center;
    text-align: center;
    margin: 2vh;
    font-weight: 500;
}

.mail input{
    fill: currentColor;
    box-sizing: border-box;
    text-align: center;
    
    font-size: 2vh;
    font-weight: 700;
    min-height: 3.5rem;
    min-width:50vh;
    /*padding: 0.75rem 1.5rem;*/
    border-radius: 0.25rem;
    padding : 0;
    border : 2px solid rgb(255, 255, 255);
    background-color: rgba(23,23,23,0.2);
    
     color: rgb(255, 255, 255); 
     
}


.sepration{
    background-color: rgb(104, 18, 8);
    height: 1vh ;
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: azure;
    background-color: rgba(23,23,23,0.2);
    min-height: 2rem;
    border-radius: 0.25rem;
}

.btn-red-log{
    font-size: 2vh;
    font-weight: 700;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn-red-signin{
background: rgb(229, 9, 20);
color: rgb(255, 255, 255);
padding-top: 4px;
}

section{
    margin-left: max(20vw,20px);
    margin-right: max(20vw,20px);

    font-family: 'Courier New', Courier, monospace;
    /* height: 200vh; */
}

.headofsection2 h2{
    color: white;
}

.btn-new{
    box-sizing: border-box;
    border: 1px solid white;
    width: 10vw;
    height: 5vh;
    font-size: large;
    font-weight: 600;
    background-color: rgba(23,23,23,0.2);
    color: white;
}

.cards{
    padding:  2vh 0vh 2vh 0vh;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch; 
}

.cards .now{
    flex: 1;
    box-sizing: border-box;
    background-color: #202020;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 2.5vh;
    padding: 5vh;
    position: relative;
}

.cards h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cards p{
    font-size: 1em;
    line-height: 1.5;
}

.now img{
    position: absolute;
    right : 10px;
    bottom: 10px;
    z-index: 10;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(9,0,0,1) 0%, rgba(154,76,76,1) 35%, rgba(238,200,200,1) 100%);
    color: white;
    
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: 2s cubic-bezier(0.05, 0.61, 0.41, 0.9 );
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}


@media screen and (max-width: 1300px) {

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}